<div class="jumbotron calculator">
    <h1>Battle Calculator</h1>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <!--<div class="col-xs-3">-->
                    <!--<label class="control-label">Attacker ID</label>-->

                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<input-->
                            <!--type="text"-->
                            <!--class="form-control"-->
                            <!--ng-model="attacker.id"-->
                    <!--/>-->
                <!--</div>-->
                <div class="col-xs-3">
                    <label class="control-label">Attacker Level</label>

                </div>
                <div class="col-xs-3">
                    <input
                            type="text"
                            class="form-control"
                            ng-model="attacker.level"
                    />
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <!--<div class="row">-->
                <!--<div class="col-xs-3">-->
                    <!--<label>Defender ID</label>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<input-->
                            <!--type="text"-->
                            <!--class="form-control"-->
                            <!--ng-model="defender.id"-->
                    <!--/>-->
            <!--</div>-->
                <!--</div>-->
                <div class="col-xs-3">
                    <label>Defender Level</label>
                </div>
                <div class="col-xs-3">
                    <input
                            type="text"
                            class="form-control"
                            ng-model="defender.level"
                    />
                </div>
            </div>


    </div>


    <form class="form-inline">
        <div class="row">
            <div class="col-xs-12 col-md-6">

                <h3 style="margin-bottom:25px;">Attacker's Technology</h3>
                <div class="row ">
                    <div class="col-sm-4">
                        <h5>Tech</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5>Level</h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>Modifier</h5>
                    </div>
                </div>


                <div ng-repeat="(y,x) in attacker.tech" class="row">
                    <div class="col-sm-4">
                        <label for="attacker_{{x}}" class="control-label">{{x.name}}</label>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" id="attacker_{{x}}" class="form-control tech-input" ng-model="attacker.tech[y].level" />
                    </div>
                    <div class="col-sm-3">
                        <h6 class="align-right" ng-bind="calcMultiplier(attacker.tech[y])"></h6>
                    </div>
                </div> <!-- end attacker tech -->

                <hr />
            </div>
            <div class="col-xs-12 col-md-6">
                <h3 style="margin-bottom:25px;">Defender's Technology</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <h5>Tech</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5>Level</h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>Modifier</h5>
                    </div>
                </div>
                <div ng-repeat="y in defender.tech" class="row">
                    <div class="col-sm-4">
                        <label for="defender_{{y}}" class="control-label">{{y.name}}</label>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" id="defender_{{y}}" class="form-control tech-input" ng-model="defender.tech[y.name].level" />
                    </div>
                    <div class="col-sm-3">
                        <h6 class="align-right" ng-bind="calcMultiplier(defender.tech[y.name])"></h6>
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h3 style="margin-bottom:25px;">Attacker's Fleet</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Unit</h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>Quantity</h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>
                            Power / Armor / Shield
                        </h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>Remaining</h5>
                    </div>
                </div>

                <div ng-repeat="(unitKey, unit) in unitBaseValues" class="row">
                    <div class="col-sm-3">
                        <label for="attacker_quantityOf_{{unit.name}}" class="control-label">{{unit.name}}</label>
                    </div>
                    <div class="col-sm-2" style="padding:0;">
                        <input type="text" id="attacker_quantityOf_{{unit.name}}" class="form-control tech-input" ng-model="attacker.fleet[unitKey]" />
                    </div>

                    <div class="col-sm-4">
                        <div class="col-xs-4">
                             <h6>
                                 {{unit.power}}
                             </h6>
                        </div>


                        <div class="col-xs-4">
                            <h6>
                                {{unit.armor * attacker.tech.Armor.modifier}}
                            </h6>
                        </div>

                        <div class="col-xs-4">
                            <h6>
                                ( {{unit.shield * attacker.tech.Shielding.modifier}} )

                            </h6>
                        </div>


                    </div>
                    <div class="col-xs-2">

                    </div>


                </div>
            </div><!-- end Defending fleet-->


            <div class="col-xs-12 col-md-6">
                <h3 style="margin-bottom:25px;">Defender's Fleet</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Unit</h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>Quantity</h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>
                            Power / Armor / Shield
                        </h5>
                    </div>
                    <div class="col-sm-2">
                        <h5>Remaining</h5>
                    </div>
                </div>

                <div ng-repeat="(unitKey, unit) in unitBaseValues" class="row">
                    <div class="col-sm-3">
                        <label for="defender_quantityOf_{{unit.name}}" class="control-label">{{unit.name}}</label>
                    </div>
                    <div class="col-sm-2" style="padding:0;">
                        <input type="text" id="defender_quantityOf_{{unit.name}}" class="form-control tech-input" ng-model="defender.fleet[unitKey]" />
                    </div>

                    <div class="col-sm-4">
                        <div class="col-xs-4">
                            <h6>
                                {{unit.power}}
                            </h6>
                        </div>


                        <div class="col-xs-4">
                            <h6>
                                {{unit.armor * defender.tech.Armor.modifier}}

                            </h6>
                        </div>

                        <div class="col-xs-4">
                            <h6>
                                ( {{unit.shield * defender.tech.Shielding.modifier}} )
                            </h6>
                        </div>


                    </div>
                    <div class="col-xs-2">

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h3 style="margin-bottom:25px;">Attacker Modifiers</h3>

        </div>


    </form>
</div>

