<div class="blog-header">
    <header>
          <span>
          	<h1 class="blog-title">Stuff</h1>
          	<p class = "lead blog-description">You know why you're here.</p>
          </span>
    </header>
</div>
<!-- MAIN CONTENT -->
<!--<div class="row">-->
    <!--<div class="col-sm-8 blog-main">-->
        <!--<div class="blog-post">-->
            <!--<h2 class="blog-post-title">On Professionalism</h2>-->
            <!--<p class="blog-post-meta">November 3rd, 2015</p>-->
            <!--<p></p>-->
            <!--<hr>-->
            <!--<h2></h2>-->
            <!--<p></p>-->
            <!--<hr>-->
        <!--</div>&lt;!&ndash; /.blog-post &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.blog-main &ndash;&gt;-->
<!--</div>-->




<!--<div class="row">-->
    <!--<div class="col-sm-8 blog-main">-->

        <!--<div class="blog-post">-->
            <!--<h2 class="blog-post-title">Moving</h2>-->
            <!--<p class="blog-post-meta">August 10th, 2015</p>-->

            <!--<p>My time in Iowa City is coming to an end. In order to further my career and just my life in general I have decided to uproot myself and settle down in the good ol' state of Texas (or nation)</p>-->
            <!--<hr>-->

            <!--<h2>Why Move?</h2>-->
            <!--<p>Don't get me wrong. Iowa City and the University of Iowa has been great to me. But lately things haven't been jiving the way they used to. I'm feeling an overwhelming sense of complacency. There's nothing I'm striving for right now. I don't want to live a life where I simply exist, persist and stay the course. The life I want to live is a life of constant improvement. To look back at all the obstacles overcome, all the storms weathered, hardships faced. When I look back I want to be able to say that I always did my best. That being said, right now Dallas provides a lot of opportunites that would prove advantageous to a young and aspiring Software Engineer and here is why: </p>-->
            <!--<ul>-->
                <!--<li><h4>Abundance of Opportunities</h4><br><p>Dallas has the most corporate headquarters concentrated in one place. So jobs at big companies are all over</p></li>-->
                <!--<li><h4>Great Start-Up Scene</h4><br><p>Deep down I am an entrepenuer at heart and by moving I will be putting myself in a place not only to work for a startup company and take part in the growing of the next internet giant but also to hopefully one day start my own company. Dallas has all the necessary pieces in place for me to do that.</p></li>-->
                <!--<li><h4>Low Cost of Living</h4><br><p>When people think of software they think of San Fransisco. Though SanFran is a beautiful city and booming at the present moment, I would like to be able to afford to live in the city that I work in. Housing costs in Dallas are substantially lower compared to other cities of comprable size. Also another thing that is great: no income tax! Take that Lincoln!</p></li>-->
                <!--<li><h4>Family</h4><br><p>I'm sure there's a great Godfather quote to put here but sadly I haven't seen the movie. They're pretty great though and I'm excited to spend more time with them.</p></li>-->
            <!--</ul>-->
            <!--<br>-->
            <!--<h5>All in all I'm a little scared taking the plunge. Moving to a whole new state will be fun and challenging but I'm excited to see what this chapter of life has to bring.</h5>-->
            <!--<p>Until next time...</p>-->

        <!--</div>&lt;!&ndash; /.blog-post &ndash;&gt;-->

    <!--</div>&lt;!&ndash; /.blog-main &ndash;&gt;-->
<!--</div>-->

<!--<div class="row">-->
    <!--<div class="col-sm-8 blog-main">-->
        <!--<div class="blog-post">-->
            <!--<h2 class="blog-post-title">Hello World</h2>-->
            <!--<p class="blog-post-meta">May 1st, 2015</p>-->
            <!--<p>Hey! If  you're reading this right now, congratulations! and welcome to my blog. After self teaching myself some basics about web development I have finally taken the step and got my own personal website.</p>-->
            <!--<hr>-->
            <!--<h2>Setting it up</h2>-->
            <!--<p>Getting online with my own domain wasn't easy. If you're like me then you know that the most difficult part of any project is getting it set up so the computer will agree with what it is that you are trying to accomplish. Thankfully <a href = "https://pages.github.com">GitHub Pages</a> is a thing  and is free so webhosting is pretty much taken care of! Also purchasing a domain name is not required since GitHub Pages will publish your site to <usernamegoeshere>.github.io. Ain't that nifty?</p>-->
            <!--<h3>Customizing my site</h3>-->
            <!--<p>There is this nasty little rumor that web developing is not real programming. I think they're right. Anyone who has tried implementing their own custom CSS for a site will know that web development is an art (at least the CSS part). I am not an artist. Luckily for people like me there exists frameworks to help make websites and make them look awesome. I am a fan of <a href = "http://www.getbootstrap.com">Bootstrap</a> personally. It has a grid layout which is common these days. What sets Bootstrap apart from other existing CSS frameworks is the aditional themes that are provided via <a href = "http://www.bootswatch.com">Bootswatch</a>.</p>-->
            <!--<hr>-->
            <!--<p>Other than that I have been tweaking little things here and there to help make this site how I want to. Also one day I might do something crazy and add some sort of easter egg game or something. It's a work in progress but it is <strong><I>my</I></strong> work in progress... so stay tuned!</p>-->
        <!--</div>&lt;!&ndash; /.blog-post &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.blog-main &ndash;&gt;-->
<!--</div>-->