.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row;
  padding-top: 30px;
  padding-bottom: 30px;
}

.skills-logo {
  justify-content: space-between;
  padding: 10px;
  width: auto;
  img {
	height: 200px;
	width: auto;
  }
}