//urls
$url_0: url(../../img/utilityconnect-color.png);
$url_1: url(../../img/Citizen-Shield.png);
$url_2: url(../../img/images/headerLogo.gif);

.website-item {
  width: 255px;
  height: 255px;
  border-radius: 50%;
  
  background-size: 240px auto;
  background-repeat: no-repeat;
  background-position: center;
  
  margin: 0 auto 0 auto;
  cursor: pointer;
  //box-shadow: inset 0 0 0 2px $color_outer_space_50_approx, 0 1px 2px $black_10;
  transition: all 0.4s ease-in-out;
  &:hover {
	//box-shadow: inset 0 0 0 1px $white_10, 0 1px 2px $black_10;
	transform: scale(.95);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	.website-info {
	  transform: scale(1);
	  opacity: 1;
	}
  }
  
  .website-info {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	text-align: center;
	a {
	  position: relative;
	  top: 40%;
	}
  }
}

.uc-icon {
  background-image: $url_0;
}

.cs-icon {
  background-image: $url_1;
}

.starbuzz {
  background-image: $url_2;
}

.calculator {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
