<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>Below here are a few examples of websites I have worked on over the years. If you want to find more about the context of the site please take a peak at my resume! These aren't all the sites I've worked on but a good showcase of my diverse skill set.</p>
        <p><a class="btn btn-primary btn-md" href="/resume.pdf" role="button">Resume</a></p>
    </div>
</div>
<div class="container">
    <div class="row site">
        <div class="col-md-4">
            <a href="http://free.utilityconnect.net">
                <div class="ch-item uc-icon">
                    <div class="ch-info ">
                        <h3>Check it out</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-8">
            <h2><a href="http://free.utilityconnect.net/">Utility Connect Sub-page</a></h2>
            <p>
                My first project at Utility Connect, our partner portal page, is one that I am quite proud of since I made it from scratch. Bootstrap for the layout, lots of custom javascript, the googlemaps.php you see in the iframe was actually not all me). It works great on mobile and on the back end everything runs smoothly with grunt automating several tasks. All of this interfaces with a database and actually changes based on which partner's subpage you look at. Oh and the background was tough so appreciate it!
            </p>
        </div>
    </div>

    <hr />

    <div class="row site">
        <div class="col-md-8">
            <h2><a href="http://www.citizenshield.org">Citizen Shield</a></h2>
            <p>Another website I did recently for an Insurance Company that does business with Utility Connect. Didn't get much artistic freedom but still created a clean and informative page. Also wrote the mailer scripts in PHP and even edited some of the images using Photoshop.</p>
        </div>
        <div class="col-md-4">
            <a href="https://cizitenshield.org">
                <div class="ch-item cs-icon">
                    <div class="ch-info ">
                        <h3>Take a look</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <hr />

    <div class="row site">
        <div class="col-md-4">
            <a href="/starbuzz/index.html">
                <div class="ch-item starbuzz">
                    <div class="ch-info ">
                        <h3>First Ever Site</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-8">
            <h2><a href="/starbuzz/index.html">Local Buzz</a></h2>
            <p>
               When I was first learning about the web, html,css and js, I read the O'Reilly book <a href="http://www.amazon.com/Head-First-HTML-Elisabeth-Robson/dp/0596159900/ref=sr_1_1?ie=UTF8&qid=1447116357&sr=8-1&keywords=head+first+html">Head Fist Html & CSS</a> and <a href ="http://www.amazon.com/Head-First-Design-Ethan-Watrall/dp/0596520301/ref=pd_sim_14_4?ie=UTF8&dpID=51fSwU4UxKL&dpSrc=sims&preST=_AC_UL160_SR139%2C160_&refRID=0P0CWW7CYPRZWQ7GGGH8">Head First Web Design</a>. Following along with the book. I created this fake coffee shop website. Reminds me of how much I've learned since I first started.
            </p>
        </div>
    </div>
</div>

<hr />

<div class="container">
    <h3>Other Web Sites</h3>
    <p></p>
</div>

<!-- start mobile icon div -->
<!--<div class="row-fluid hidden-lg hidden-md">-->
    <!--<div class="row-fluid">-->
        <!--<div class="col-sm-4 col-xs-6">-->
            <!--<div class="icon"><span class="glyphicon glyphicon-flash"></span></div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 col-xs-6">-->
            <!--<div class="icon" data-target="#internet,#cable"><span class="glyphicon glyphicon-globe"></span></div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 col-xs-6">-->
            <!--<div class="icon" data-target="#satellite"><span class="glyphicon glyphicon-film"></span></div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 col-xs-6">-->
            <!--<div class="icon" data-target="#xphone"><span class="glyphicon glyphicon-phone"></span></div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 col-xs-6">-->
            <!--<div class="icon" data-target="#security"><span class="glyphicon glyphicon-lock"></span></div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 col-xs-6">-->
            <!--<div class="icon" data-target="#insurance"><span class="glyphicon glyphicon-info-sign"></span></div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 col-xs-6">-->
            <!--<div class="icon" data-target="#gas"><span class="glyphicon glyphicon-fire"></span></div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 col-xs-6">-->
            <!--<div class="icon" data-target="#water"><span class="glyphicon glyphicon-tint"></span></div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 col-xs-6">-->
            <!--<div class="icon" data-target=""><span class="glyphicon glyphicon-question-sign"></span></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
