//colors
$gray: gray;
$color_outer_space_50_approx: rgba(47, 55, 56, 0.5);
$black_10: rgba(0, 0, 0, 0.1);
$white: #fff;
$black_30: rgba(0, 0, 0, 0.3);
$color_shark_approx: #1a242f;
$color_broom_approx: #fff222;
$color_broom_80_approx: rgba(255, 242, 34, 0.8);
$white_10: rgba(255, 255, 255, 0.1);
$color_black_15_approx: rgba(4, 4, 4, .15);
$black_15: rgba(0, 0, 0, 0.15);
$color_gravel_approx: #4b4848;
$black_50: rgba(0, 0, 0, 0.5);
$color_lynch_approx: #5e7a9b;
$color_san_juan_approx: #355069;
$color_cape_cod_approx: #404040;
$color_wild_sand_approx: whitesmoke;

//fonts
$font_0: Lato;
$font_1: Helvetica Nue;
$font_2: Arial;
//todo variables for the path
//urls
$url_0: url(../../img/utilityconnect-color.png);
$url_1: url(../../img/Citizen-Shield.png);
$url_2: url(../../../starbuzz/images/headerLogo.gif);
$url_3: url(../../img/yosemite.jpg);